<main> 
    <div>
        Title : {{singleTask.title}}
    </div> 

    <div>
        Description : {{singleTask.description}}
    </div>
</main>
<form>
    <label>Title</label>
    <input type="text" value="{{singleTask.title}}">

</form>