<h2>Task Dashboard</h2>

 <section class="tasks-container">

     {{#each lists}} 
     <div>
        <a href="/task/profile/{{this._id}}">{{this.title}}</a> &nbsp;&nbsp;
        <a href="#">Edit </a>&nbsp;&nbsp;
        <a href="#">Delete </a>&nbsp;&nbsp;
    </div>
     {{/each}}

</section>

<div id="tasks-links-holder">
    <a href="/task/add">Add a Task</a>
</div>

