<h2>Welcome {{user.firstName}} {{user.lastName}}</h2>

{{#if user.profilePic}}
    <img src="/uploads/{{user.profilePic}}" class="profile-pic">
{{else}}
    <img src="/uploads/default.png" class="profile-pic">
{{/if}}
